@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";
@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('/src/assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
       url('/src/assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

/* ✅ Custom utility for reusable gradient */
@layer utilities {
  .bg-custom-gradient {
    background-image: radial-gradient(
      circle at 90% 100%,
      #ffffff 0%,
      #e5e8f5 40%,
      #879AE3 100%
    );
  }
}

html {
  scroll-behavior: smooth;
}









