@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";


@theme {
  --font-heading: "Barlow", "sans-serif";
  --font-body: "Barlow", "sans-serif";
}

/* ✅ Custom utility for reusable gradient */
@layer utilities {
  .bg-custom-gradient {
    background-image: radial-gradient(circle at 90% 100%,
        #ffffff 0%,
        #e5e8f5 40%,
        #879AE3 100%);
  }
}

html {
  scroll-behavior: smooth;
}